flows .json
[{"id":"b82e5b.483b71a8","type":"tab","label":"project 1","disabled":false,"info":""},{"id":"f10a5401.392878","type":"ibmiot in","z":"b82e5b.483b71a8","authentication":"apiKey","apiKey":"7449196d.888eb8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"95507","applicationId":"","deviceType":"ESP32","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":100,"y":220,"wires":[["769f870e.e46bd8","f79d8ae0.1896e8","1322f725.2e51e9","9dd0d6f3.41e1f8","591d037d.372b1c","e02acfab.27f54","f7784808.cee328"]]},{"id":"769f870e.e46bd8","type":"debug","z":"b82e5b.483b71a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":270,"y":120,"wires":[]},{"id":"f79d8ae0.1896e8","type":"function","z":"b82e5b.483b71a8","name":"Temperature","func":"global.set('t', msg.payload.temperature)\nmsg.payload = msg.payload.temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":160,"wires":[["9a0b8b2f.f20e88","3300bd7c.b2b722"]]},{"id":"1322f725.2e51e9","type":"function","z":"b82e5b.483b71a8","name":"Humidity","func":"global.set('h', msg.payload.humidity)\nmsg.payload = msg.payload.humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":200,"wires":[["9a0b8b2f.f20e88","fc6912a5.75f38"]]},{"id":"9dd0d6f3.41e1f8","type":"function","z":"b82e5b.483b71a8","name":"ph level","func":"global.set('p', msg.payload.ph_level)\nmsg.payload = msg.payload.ph_level\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":240,"wires":[["dd964db9.858a9","9a0b8b2f.f20e88","bf6f8ae0.4d15d8"]]},{"id":"591d037d.372b1c","type":"function","z":"b82e5b.483b71a8","name":"Distance","func":"global.set('d', msg.payload.distance)\nmsg.payload = msg.payload.distance\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":280,"wires":[["7fb8e542.f5edcc","583ade37.2094d"]]},{"id":"dd964db9.858a9","type":"switch","z":"b82e5b.483b71a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"6.5","vt":"num","v2":"9","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":460,"wires":[["d6acdca4.78f34"]]},{"id":"d6acdca4.78f34","type":"function","z":"b82e5b.483b71a8","name":"","func":"msg.payload = \"The soil is dry. Water the plant!!!\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":460,"wires":[["109ba238.31d15e"]]},{"id":"109ba238.31d15e","type":"ui_toast","z":"b82e5b.483b71a8","position":"top left","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"Cancel","raw":false,"topic":"","name":"","x":880,"y":420,"wires":[]},{"id":"ff45ec72.e69e","type":"ibmiot out","z":"b82e5b.483b71a8","authentication":"apiKey","apiKey":"7449196d.888eb8","outputType":"cmd","deviceId":"95507","deviceType":"ESP32","eventCommandType":"click","format":"json","data":"json","qos":0,"name":"IBM IoT","service":"registered","x":340,"y":500,"wires":[]},{"id":"f165663d.8559e8","type":"ui_button","z":"b82e5b.483b71a8","name":"","group":"ad21c1d5.f8df2","order":4,"width":4,"height":1,"passthru":false,"label":"PUMP ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"COMMAND\":\"PUMPON\"}","payloadType":"json","topic":"topic","topicType":"str","x":130,"y":500,"wires":[["ff45ec72.e69e"]]},{"id":"e61d9b23.fd0618","type":"http in","z":"b82e5b.483b71a8","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":500,"y":500,"wires":[["3bc5d1a8.2a8eee"]]},{"id":"e6b14de.f1661b","type":"debug","z":"b82e5b.483b71a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":460,"wires":[]},{"id":"3bc5d1a8.2a8eee","type":"function","z":"b82e5b.483b71a8","name":"","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":500,"wires":[["e6b14de.f1661b","ff45ec72.e69e","cbeab148.6d687"]]},{"id":"e02acfab.27f54","type":"function","z":"b82e5b.483b71a8","name":"Water level","func":"global.set('w', msg.payload.waterlevel)\nmsg.payload = msg.payload.waterlevel\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":320,"wires":[["8fdce0a8.d749f","c93ebf63.982b7"]]},{"id":"8fdce0a8.d749f","type":"ui_gauge","z":"b82e5b.483b71a8","name":"","group":"ad21c1d5.f8df2","order":9,"width":8,"height":6,"gtype":"wave","title":"","label":" %","format":"{{value}}","min":"2","max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":320,"wires":[]},{"id":"cbeab148.6d687","type":"http response","z":"b82e5b.483b71a8","name":"","statusCode":"","headers":{},"x":850,"y":500,"wires":[]},{"id":"fbd76d7f.c665f","type":"watson-text-to-speech","z":"b82e5b.483b71a8","name":"","lang":"en-GB","langhidden":"en-GB","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-GB_JamesV3Voice","voicehidden":"","format":"audio/wav","password":"","apikey":"9xGJ1pB3CymUeEum9vEsUb9y9yRHJpERrVCTdPMG2lLV","payload-response":false,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/5408feee-abac-4a63-8606-7ce0f33fc01f","x":660,"y":120,"wires":[["83595b67.45e588"]]},{"id":"83595b67.45e588","type":"play audio","z":"b82e5b.483b71a8","name":"","voice":"1","x":870,"y":120,"wires":[]},{"id":"88f33d85.a105c","type":"function","z":"b82e5b.483b71a8","name":"","func":"msg.payload = {\n    \"temperature\" : global.get('t'),\n    \"humidity\" : global.get('h'),\n     \"ph_level\" : global.get('p'),\n    \"distance\" : global.get('d'),\n    \"waterlevel\" : global.get('w'),\n   \"moisture\" : global.get('m'),\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":600,"wires":[["68f7d3e8.8181dc","b6758a94.a2bca8"]]},{"id":"94aebe5d.ef4a5","type":"http in","z":"b82e5b.483b71a8","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":100,"y":600,"wires":[["88f33d85.a105c"]]},{"id":"68f7d3e8.8181dc","type":"http response","z":"b82e5b.483b71a8","name":"","statusCode":"","headers":{},"x":510,"y":620,"wires":[]},{"id":"b6758a94.a2bca8","type":"debug","z":"b82e5b.483b71a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":600,"wires":[]},{"id":"7fb8e542.f5edcc","type":"function","z":"b82e5b.483b71a8","name":"","func":"if(global.get('d') < 100){\nmsg.payload = \"welcome ! i am smart plant. i am happy to see you around and hope you are doing well\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":120,"wires":[["fbd76d7f.c665f"]]},{"id":"c04c9613.42edd8","type":"watson-text-to-speech","z":"b82e5b.483b71a8","name":"","lang":"en-GB","langhidden":"en-GB","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-GB_JamesV3Voice","voicehidden":"","format":"audio/wav","password":"","apikey":"9xGJ1pB3CymUeEum9vEsUb9y9yRHJpERrVCTdPMG2lLV","payload-response":false,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/5408feee-abac-4a63-8606-7ce0f33fc01f","x":500,"y":560,"wires":[["9bec5b9f.b7b148"]]},{"id":"cd8116e5.1cf3d8","type":"play audio","z":"b82e5b.483b71a8","name":"","voice":"1","x":850,"y":560,"wires":[]},{"id":"9a0b8b2f.f20e88","type":"function","z":"b82e5b.483b71a8","name":"","func":"if(global.get('p') < 5.5  && global.get('t') < 50){\n    if(global.get('h') > 50 && global.get('h') < 70){\nmsg.payload = \"Smart plant is happy\"\n}\n}\nelse{\n    msg.payload = \"Smart plant is sad\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":560,"wires":[["c04c9613.42edd8"]]},{"id":"f7784808.cee328","type":"function","z":"b82e5b.483b71a8","name":" Soil Moisture level","func":"global.set('m', msg.payload.moisture)\nmsg.payload = msg.payload.moisture\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":360,"wires":[["560249e3.39d648"]]},{"id":"560249e3.39d648","type":"ui_gauge","z":"b82e5b.483b71a8","name":"","group":"ad21c1d5.f8df2","order":2,"width":8,"height":5,"gtype":"donut","title":"Moisture","label":"units","format":"{{value}}","min":0,"max":"1023","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":360,"wires":[]},{"id":"583ade37.2094d","type":"ui_gauge","z":"b82e5b.483b71a8","name":"","group":"ad21c1d5.f8df2","order":7,"width":8,"height":6,"gtype":"gage","title":"Distance","label":"cm","format":"{{value}}","min":"2","max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":280,"wires":[]},{"id":"fc6912a5.75f38","type":"ui_gauge","z":"b82e5b.483b71a8","name":"","group":"ad21c1d5.f8df2","order":8,"width":8,"height":6,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":200,"wires":[]},{"id":"86895711.cd2b88","type":"ui_button","z":"b82e5b.483b71a8","name":"","group":"ad21c1d5.f8df2","order":5,"width":4,"height":1,"passthru":false,"label":"PUMP OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"COMMAND\":\"PUMPOFF\"}","payloadType":"json","topic":"topic","topicType":"str","x":130,"y":540,"wires":[["ff45ec72.e69e"]]},{"id":"c93ebf63.982b7","type":"ui_chart","z":"b82e5b.483b71a8","name":"","group":"ad21c1d5.f8df2","order":6,"width":8,"height":4,"label":"Water level","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":620,"y":300,"wires":[[]]},{"id":"3300bd7c.b2b722","type":"ui_gauge","z":"b82e5b.483b71a8","name":"","group":"ad21c1d5.f8df2","order":19,"width":7,"height":6,"gtype":"gage","title":"Temperature","label":"degree C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":160,"wires":[]},{"id":"bf6f8ae0.4d15d8","type":"ui_gauge","z":"b82e5b.483b71a8","name":"","group":"ad21c1d5.f8df2","order":1,"width":8,"height":5,"gtype":"gage","title":"PH level","label":"units","format":"{{value}}","min":0,"max":"14","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":240,"wires":[]},{"id":"9bec5b9f.b7b148","type":"rbe","z":"b82e5b.483b71a8","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":660,"y":560,"wires":[["cd8116e5.1cf3d8"]]},{"id":"7449196d.888eb8","type":"ibmiot","name":"Api key","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"ad21c1d5.f8df2","type":"ui_group","name":"","tab":"a28cb0f4.5f845","order":2,"disp":true,"width":24,"collapse":false},{"id":"a28cb0f4.5f845","type":"ui_tab","name":"PROJECT","icon":"dashboard","order":3,"disabled":false,"hidden":false}]